-
  var indexTitles = {
    index: "Главная",
    company: "О компании",
    page3: "HelloProduct222"
  };

-
  var indexTitles1 = {
    index: "Главная",
    company: "О компании1",
    page3: "HelloProduct222"
  };

-
  var indexTitles2 = {
    index: "Главная",
    company: "О компании2",
    page3: "HelloProduct222"
  };
