-   let swiper = 'swiper'

-   let main = 'main'
-   let intro = 'intro'
-   let promo = 'promo'

-   let classSliderMain= swiper + ' ' + swiper + '-' + main + ' ' + main
-   let classSliderIntro= swiper + ' ' + swiper + '-' + intro + ' ' + main
-   let classSliderPromo= swiper + ' ' + swiper + '-' + promo + ' ' + main

-
    let arraySlidersClass= [
        classSliderMain,
        classSliderIntro,
        classSliderPromo
    ]

-
    let swiperMainID = 'swiperMain'

 -  let swiperVar = 0