-
    let swiper = {
        swiper: "swiper",
        swiperWrapper: "swiper-wrapper",
        swiperSlide: "swiper-slide",
        swiperSlide: "swiper-slide-active",
        swiperPagination: "swiper-pagination",
    };

// -   let classSliderMain
-   let swiper1Array
-   let swiper2Array

-   let main = 'main'

each main1 in swiper
    if main1 == swiper
        - let main11= main1.swiper

- let classSliderMain= main11 + '-' + main + ' ' + main

//- each main1 in swiper
//-      if main1 == swiper
//-         swiper1Array= [
//-             main1,
//-             swiperSecondText
//-         ]

//- each main1 in swiper
//-     if main1 == swiper
//-         swiper2Array= [
//-             main1,
//-             swiper3Text
//-         ]

-
    let swiperMain = 'swiperMain'