-   let swiper = 'swiper'
-   let wrapper = 'wrapper'
-   let inner = 'inner'
-   let slide = 'slide'
-   let active = 'active'
-   let swiperText = 'text'
-   let swiperBlock = 'block'
-   let swiperImage = 'image'

-   let intro = 'intro'
-   let promo = 'promo'
-   let main = 'main'

//- defaultClasses
-   let swiperWrapper = swiper + '-' + wrapper
-   let swiperSlide = swiper + '-' + slide
-   let swiperSlideActive = swiper + '-' + slide + '-' + active

//- SwiperMain
-   let mainWrapper = swiper + '-' + main + '__' + wrapper
-   let mainSlide= swiper + '-' + main + '__' + slide
-   let classSliderMain= swiper + ' ' + swiper + '-' + main + ' ' + main
-   let classSliderMainWrapper= swiperWrapper + ' ' + mainWrapper
-   let classSliderMainSlide= swiperSlide + ' ' + mainSlide
-   let classSliderMainSlideActive= swiperSlide + ' ' + mainSlide + ' ' + swiperSlideActive
-   let classSliderMainSlideWrapper= swiperSlide + '__' +  slide + '-' + wrapper
-   let classSliderMainSlideInner= swiperSlide + '__' +  slide + '-' + inner
-   let classSliderMainSlideText= swiperSlide + '__' +  slide + '-' + swiperText + '-' + wrapper
-   let classSliderMainSlideBlock= swiperSlide + '__' +  slide + '-' + swiperBlock
-   let classSliderMainSlideImageWrapper= swiperSlide + '__' +  wrapper + '-' + swiperImage

-   let swiperMainID = 'swiperMain'
-   let swiperIntroID = 'swiperIntro'
-   let swiperPromoID = 'swiperPromo'

//- SwiperIntro
-   let classSliderIntro= swiper + ' ' + swiper + '-' + intro + ' ' + main

//- SwiperPromo
-   let classSliderPromo= swiper + ' ' + swiper + '-' + promo + ' ' + main

//- swiper block
-
    let arraySlidersClass= [
        classSliderMain, 
        classSliderIntro, 
        classSliderPromo
    ]

//- swiper wrapper
-
    let arraySliderClassWrappers= [
        classSliderMainWrapper, 
        classSliderIntro, 
        classSliderPromo
    ]

//- swiper slide
-
    let arraySliderClassSlides= [
        classSliderMainSlide, 
        classSliderIntro, 
        classSliderPromo
    ]

//- swiper wrapper slide
-
    let arraySliderClassSlideWrapper= [
        classSliderMainSlideWrapper, 
        classSliderIntro, 
        classSliderPromo
    ]

//- swiper inner slide
-
    let arraySliderClassSlideInner= [
        classSliderMainSlideInner, 
        classSliderIntro, 
        classSliderPromo
    ]

//- swiper text slide
-
    let arraySliderClassSlideText= [
        classSliderMainSlideText, 
        classSliderIntro, 
        classSliderPromo
    ]

//- swiper block slide
-
    let arraySliderClassSlideBlocks= [
        classSliderMainSlideBlock, 
        classSliderIntro, 
        classSliderPromo
    ]

//- swiper image-wrapper slide
-
    let arraySliderClassSlideImageWrapper= [
        classSliderMainSlideImageWrapper, 
        classSliderIntro, 
        classSliderPromo
    ]


-   let className = slide + '-' + swiperText
-   let urlLink= 'link'
-   let urlLink1= 'link11'
-   let urlLink2= 'link22'

-
    let urlLinkSlideText = [
        urlLink1,
        urlLink2
    ]