div(class=arraySliderClassSlides[0])
    div(class=arraySliderClassSlideWrapper[0])
        div(class=arraySliderClassSlideInner[0])
            include ../../slide-partials/slidesMain/text/slideText1
            include ../../slide-partials/slidesMain/blocks/slideblock1