extends ../modules/main.pug

block variables
    include ../abstraction/variables
block head 
    include ../partials/head/head

block title
    each title,i in titles
        if title == indexTitles
            title= title.company

block content 
    include ../sections/main-section/main-section
    
    each el in pov
        if el[2]
            li(class=liClass2)
        li(class=liClass)=el
    h3 HEEWFWEFWEF

    each texts, el in text
        if el == 0
            p(class=pClass)= texts