include ../variables/titles/titles-array
include ../variables/url-link/url-array
include ../variables/forms/form
include ../variables/buttons/buttons

-
  var pov = [
    "tablet",
    "adrr",
    "sorry",
    "1231",
    "hello",
  ]

-
  var text = [
    "tablet",
    "adrr",
    "sorry",
    "1231",
    "hello",
  ]

-
  let liClass = 'list-item'
-
  let liClass2 = 'list-item11'

-
  let pClass = 'class'
-
  let list1 =  [
    "tablet",
    "adrr",
    "sorry",
    "1231",
    "hello",
  ]
-
  let listItem1 =  "list1-item";