-
  var indexTitles = {
    index: "Главная",
    company: "О компании",
    page3: "HelloProduct222"
  };

-
  var indexTitles1 = {
    index: "Главная",
    company: "О компании1",
    page3: "HelloProduct222"
  };

-
  var indexTitles2 = {
    index: "Главная",
    company: "О компании2",
    page3: "HelloProduct222"
  };



-
  const titles =  [
    indexTitles,
    indexTitles1,
    indexTitles2,
  ]

-
  const titles1 = {
      page1: "Buy",
      page2: "Buy1213",
  }

-
  var pov = [
    "tablet",
    "adrr",
    "sorry",
    "1231",
    "hello",
  ]

-
  var text = [
    "tablet",
    "adrr",
    "sorry",
    "1231",
    "hello",
  ]

-
  let liClass = 'list-item'
-
  let liClass2 = 'list-item11'

-
  let pClass = 'class'