include ../variables/titles/titles-array
include ../variables/url-link/url-array

-
  var pov = [
    "tablet",
    "adrr",
    "sorry",
    "1231",
    "hello",
  ]

-
  var text = [
    "tablet",
    "adrr",
    "sorry",
    "1231",
    "hello",
  ]

-
  let liClass = 'list-item'
-
  let liClass2 = 'list-item11'

-
  let pClass = 'class'