-
  const titles =  [
    {
      page1: "Hello",
      page2: "HelloProduct",
      page3: "HelloProduct222"
    },
    {
      page1: "Buy",
      page2: "Buy1213",
      page3: "Buysdfsdf" },
    ]

-
  const titles1 = {
      page1: "Buy",
      page2: "Buy1213",
  }

-
  var pov = [
    "tablet",
    "adrr",
    "sorry",
    "1231",
    "hello",
  ]

-
  let liClass = 'list-item'
-
  let liClass2 = 'list-item11'
