-
  var urlLinkMenu = {
    urlIndex: "index.html",
    urlCompany: "aboutCompany.html",
    urlProducts: "product.html"
  };
-
  var urlLinkProducts = {
    product1: "product1.html",
    product2: "product2.html",
    product3: "product3.html"
  };

-
  let urlPath = {
    urlPathMenuFromIndex: "../pages/menu/"
  }